*{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url(./images/bgtop.svg), 100px 100px repeat, #6cb2b2;
    background-blend-mode:hard-light;
    background-position: 30% 30%;
    width: 100vw;
    height: fit-content;
    display: flex;
}

#bodyfalso{
    z-index: 1;
    top: 0;
    margin-right: 0%;
    background: linear-gradient(180deg, #232931 0%, #181C22 100%) #232931;
    width: 100vw;
    min-height: 100vh;
}

nav{
    width: 100vw;
    height: 4.1875rem;
    background: #232931;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#logo{
    margin-left: 1.69rem;
    width: 8.1875rem;
}

#botao{
    height: 4.1875rem;
    margin-right: 0;
    display: flex;
    align-items: center;
}

#btn-hamb, #hamb{
    height: 91%;
    background: none;
    outline: none;
    border: 0;
}

#navdentro{
    position: fixed;

    /*margin-left: 1rem;*/
    margin-left: -12.5rem;
    display: none;
    visibility: hidden;
    opacity: 0%;
    
    display: flex;
    flex-direction: column;
}

#nav-perfil{
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#nav-perfil img{
    width: 5.3125rem;
    border-radius: 100%;
    
}

#nome-perfil{
    width: 10rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.5rem;
}

@keyframes fadeIn {  
    from {  
        opacity: 0;  
    }  
 
    to {  
        opacity: 1;  
    }  
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;;
    }
}

#nav-imgs{

    height: fit-content;
    margin-left: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8125rem;
    
}

.nav-titles{
    width: 15rem;
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

.nav-titles img{
    margin-bottom: -0.455rem;
    padding-right: 0.5rem;
}
