*{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    
}

html{
    scroll-behavior: smooth;
    width: 100vw;
overflow-x: clip;
}

body{
    background: #181d22;
    background-position: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: fit-content;
    display: flex;
    width: 100vw;
    align-items: flex-start;
    
}

::-webkit-scrollbar{
    visibility: hidden;
    display: none !important;
}

#bodyfalso{
    overflow: hidden;
    z-index: 1;
    top: 0;
    margin-right: 0%;
    background: linear-gradient(180deg, #232931 0%, #181C22 100%) #232931;
    width: 100vw;
    min-height: 100vh;
}

nav{
    z-index: 50000;
    width: 100vw;
    height: 4.1875rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#logo{
    margin-left: 1.69rem;
    width: 8.1875rem;
}

#botao{
    height: 4.1875rem;
    margin-right: 0;
    display: flex;
    align-items: center;
    
}

#btn-hamb{
    height: 100%;
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
}

#hamb{
    height: 90%;
}

#navdentro{
    position: fixed;
    overflow-x: visible;
    /*margin-left: 1rem;*/
    margin-left: -12.5rem;
    display: none;
    visibility: hidden;
    opacity: 0%;
    
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 5vh;
}

#nav-perfil{
    width: 100%;

    border-radius: 10px;
    margin-bottom: 2vh;
    padding-left: 2%;
    padding-right: 2%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #20252cce;
    gap: .2vw;
    /* border-bottom: 3px solid #232931 ; */
    margin-left: -3px;
}

#nav-perfil img{
    width: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    margin-left: .5rem;
}

#nome-perfil{
    width: fit-content;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    margin-left: 0;
    font-weight: 700;
    line-height: normal;
}

@keyframes fadeIn {  
    from {  
        opacity: 0;  
        transform: scale(.85);
    }  
 
    to {  
        opacity: 1;  
        transform: scale(1);
    }  
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;;
    }
}

#nav-imgs{
    margin-top: .5rem;
    height: fit-content;
    margin-left: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5vh;
}

.nav-titles{
    width: 50vw;
    overflow-x: visible;
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-left: 0;
    gap: 10px;
    
    background: linear-gradient(0deg, #3e7a65, #3e7a65) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms, transform .2s;
    --bg-h: 100%;
    padding: 15px 15px 15px 15px;
    overflow: visible;
    outline: 3px #2329314a solid;
}


.nav-titles:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    transform: scale(1.02);
}

.navs{
    margin: 0;
    width: 32px;
    aspect-ratio: 1/1;
}
