#criar-header{
    color: #4ECCA3;
    font-family: Poppins;
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

main{
    margin-top: 3.1rem;
}